#
# DOCKER
#

VDK_DOCKER_ID=vdk
VDK_DOCKER_HOST_PATH=/vadock
VDK_DOCKER_GUEST_PATH=/host/vadock
VDK_DOCKER_HOST_WWW_PATH=/www
VDK_DOCKER_GUEST_WWW_PATH=/host/www

# Set fake date for PHP, MariaDB
# Example (Y-m-d H:i:s): "@2020-01-20 23:59:50"

VDK_DOCKER_FAKETIME="+1s"

#
# NETWORK
#

VDK_NETWORK_NAME=vdk_net

#
# NGINX
#

VDK_NGINX_IMAGE_NAME=nginx
VDK_NGINX_IMAGE_VERSION=latest
VDK_NGINX_IMAGE_PATH=./../images/nginx
VDK_NGINX_PORT=80

#
# PHP
#

VDK_PHP56_IMAGE_NAME=php56
VDK_PHP56_IMAGE_PATH=./../images/php56

VDK_PHP70_IMAGE_NAME=php70
VDK_PHP70_IMAGE_PATH=./../images/php70

VDK_PHP71_IMAGE_NAME=php71
VDK_PHP71_IMAGE_PATH=./../images/php71

VDK_PHP72_IMAGE_NAME=php72
VDK_PHP72_IMAGE_PATH=./../images/php72

#
# DB
#

VDK_MYSQL_IMAGE_NAME=mysql
VDK_MYSQL_IMAGE_VERSION=latest
VDK_MYSQL_IMAGE_PATH=./../images/mysql
VDK_MYSQL_PORT=127.0.0.1:3306
#VDK_MYSQL_PORT=3306 #Shared port

VDK_MARIADB_IMAGE_NAME=mariadb
VDK_MARIADB_IMAGE_VERSION=latest
VDK_MARIADB_IMAGE_PATH=./../images/mariadb
VDK_MARIADB_PORT=127.0.0.1:3307
#VDK_MARIADB_PORT=3307 #Shared port

MYSQL_ROOT_PASSWORD=root

#
# PHP My Admin
#

VDK_PMA_IMAGE_NAME=pma
VDK_PMA_IMAGE_PATH=./../images/pma
VDK_PMA_PORT=8080

PMA_HOST=vdk_pma
PMA_PORT=3306
